<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\css\admin\bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="static\css\admin\bootstrap.min.css" />
    <link rel="stylesheet" href="static\css\admin\style.css" />
    <link rel="stylehseet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css"/>
    <link rel="stylehseet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylehseet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css'>
  </head>
    <title>Admin Dashboard</title>
    <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          >AEC ADMIN PAGE- {{ current_user.firstName }}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topNavBar"
          aria-controls="topNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            <div class="input-group">
              <a href ="{{ url_for('logout') }}" class="btn btn-primary">
                <i class="bi bi-door-open-fill"></i>
            </a>
            </div>
          </form>
          <ul class="navbar-nav">
                <i class="bi data-bs-dismiss"></i>
              </a>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
    class="offcanvas offcanvas-start sidebar-nav bg-dark"
    tabindex="-1"
    id="sidebar"
  >
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          <li>
            <a href="{{ url_for('admin') }}" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-speedometer2" ></i></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Interface
            </div>
          </li>
          <li>
            <a
              class="nav-link px-3 sidebar-link"
              href="{{ url_for('verify_users') }}"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Manage Users</span>
              <span class="ms-auto">
              </span>
            </a>
            <a
            class="nav-link px-3 sidebar-link"
            href="{{ url_for('view_fees') }}"
          >
            <span class="me-2"><i class="bi bi-layout-split"></i></span>
            <span>Manage Fees</span>
            <span class="ms-auto">
            </span>
          </a>
          <a
          class="nav-link px-3 sidebar-link"
          href="{{ url_for('view_teams') }}"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Manage Teams</span>
          <span class="ms-auto">
          </span>
        </a>
              <a
              class="nav-link px-3 sidebar-link"
              href="{{ url_for('view_athletes') }}"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Manage Athletes</span>
              <span class="ms-auto">
              </span>
            </a>
            <a
            class="nav-link px-3 sidebar-link"
            href="{{ url_for('view_events') }}"
          >
            <span class="me-2"><i class="bi bi-layout-split"></i></span>
            <span>Manage Events</span>
            <span class="ms-auto">
            </span>
          </a>
          <a
          class="nav-link px-3 sidebar-link"
          href="{{ url_for('create_teamsheet') }}"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Manage Team Sheets</span>
          <span class="ms-auto">
          </span>
        </a>
        <a
        class="nav-link px-3 sidebar-link"
        href="{{ url_for('view_teamsheet') }}"
      >
        <span class="me-2"><i class="bi bi-layout-split"></i></span>
        <span>View Teamsheets</span>
        <span class="ms-auto">
        </span>
      </a>       
      <a
      class="nav-link px-3 sidebar-link"
      href="{{ url_for('view_contacts') }}"
    >
      <span class="me-2"><i class="bi bi-layout-split"></i></span>
      <span>Manage Contacts</span>
      <span class="ms-auto">
      </span>
    </a>                  
            <div class="collapse" id="layouts">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="{{ url_for('admin') }}" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Dashboard</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <!-- where to add to white area -->
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        {% for category, message in messages %} 
        {% if category =='error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %} 
        {% endfor %} 
        {% endif %} 
        {% endwith %}
        <div class container>
          <div id='calendar'></div>
        </div>
        <script>
        $(document).ready(function() 
        {
          $("#calendar").fullCalendar(
            {
            
            header: {
              left: "prev,next today",
              center: "title",
              right: "month,agendaWeek,agendaDay"
            },


            defaultView: "month",
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            
            



            

            
            
           
              // events: [
              //   { // this object will be "parsed" into an Event Object
              //     title: 'The Title', // a property!
              //     start: '2018-09-01', // a property!
              //     end: '2018-09-02' // a property! ** see important note below about 'end' **
              //   }
              // ],
            
            select: function(start, end) {
              var title = prompt("Event Content:");
              var eventData;
              if (title) {
                eventData = {
                  title: title,
                  start: start,
                  end: end,
                  
                
                };
                fetch('/createevents',{
                  method : "POST",
                  body: JSON.stringify({start: eventData.start._d, end:eventData.end._d, title : eventData.title }),
                  headers: new Headers ({
                    "content-type": "application/json"
                    })
                  })
                  
                  
                $("#calendar").fullCalendar("renderEvent", eventData, true); // stick? = true
              }
              $("#calendar").fullCalendar("unselect");
            },

            eventRender: function(event, element) {
              element
                .find(".fc-content")
                .prepend("<span class='closeBtn material-icons'>&#xe5cd;</span>");
              element.find(".closeBtn").on("click", function() {
                fetch('/deleteevents',{
                  method : "POST",
                  body: JSON.stringify({start: event.start._d, end:event.end._d, title : event.title}),
                  headers: new Headers ({
                    "content-type": "application/json"
                    })
                  })
                $("#calendar").fullCalendar("removeEvents", event._id);
              });  
            },

            eventClick: function(calEvent) {
              var title = prompt("Edit Event Content:", calEvent.title);
              calEvent.title = title;
              $("#calendar").fullCalendar("updateEvent", calEvent);
            },    
          });
                {% for event in events %}
                  var myEvent = {
                    title: "{{events[event][0]}}",
                    start: "{{events[event][1]}}",
                    end: "{{events[event][2]}}"
                  };
                  $("#calendar").fullCalendar( 'renderEvent', myEvent );
                  console.log(myEvent)
                {% endfor %}
    
        });
            </script>
    </main>
  </body>
</html>